# Python artifacts
__pycache__/
.eggs/
*.py[cod]
build/
dist/
*.egg-info/

# Virtual environment
.venv/

# Django/project
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log
local_settings.py

# Editors/OS
.vscode/
.DS_Store
Thumbs.db

# Env
.env
.env.*